<!DOCTYPE html>
<html>
<head>
  <title>Cyberstream</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <!-- Bootstrap -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

  <script src="lib/jquery-3.1.1.min.js"></script>
  <script src="/js/main.js"></script>
  <style>
  body {
    margin: 0;
    padding: 0;
    background-image: url('<%= $stream_url %>');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  </style>
</head>
<body>
  <nav class="my_navbar">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" aria-expanded="true">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
        <a href="#" class="navbar-brand"><img src="/images/logo.png"/></a>
      </div>
     <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-3" aria-expanded="true">
       <div class="btn-group">
         <button type="button" class="btn btn-default navbar-btn" onclick="On()">On</button>
         <button type="button" class="btn btn-default navbar-btn" onclick="Off()">Off</button>
       </div>
       <button type="submit" style="border: 0; outline : none; background: transparent;">
         <img src="/images/mic.png" alt="submit" />
       </button>
       <form class="navbar-form navbar-right" action="/" method="POST" role="form">
         <div class="form-group">
           <input name="stream_url" type="text" class="form-control" placeholder="Enter url" value="<%= @stream_url %>">
         </div>
         <button type="submit" style="border: 0; outline : none; background: transparent;">
           <img src="/images/submit.png" alt="submit" />
         </button>
       </form>
     </div>
    </div>
  </nav>


  <div class="row" >
    <div class="container">
      <div class="button-group" style="position:absolute; left:0; bottom:0;">
        <button type="submit" onclick="Left()" style="border: 0; outline : none; background: transparent">
          <img src="/images/left.png" alt="submit" />
        </button>
        <button type="submit" onclick="Right()" style="border: 0; outline : none; background: transparent">
          <img src="/images/right.png" alt="submit" />
        </button>
      </div>
      <div class="button-group" style="position:absolute; right:0; bottom:0;">
        <button type="submit" onclick="Forward()" style="border: 0; outline : none; background: transparent">
          <img src="/images/forward.png" alt="submit" />
        </button>
        <button type="submit" onclick="Reverse()" style="border: 0; outline : none; background: transparent">
          <img src="/images/reverse.png" alt="submit" />
        </button>
      </div>
    </div>
  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/jquery-1.9.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
