/*html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('http://192.168.43.66:8080/stream');
  background-size: 100%;
  background-repeat: no-repeat;
}*/


/*#main-control {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  width: 20vmin;
  height: 16vmin;
  background: #f44336;
  border-radius: 50%;
  margin: 2vmin;
  text-align: center;
  vertical-align: middle;
  line-height: 16vmin;
  cursor: pointer;
  user-select: none;
}

.controls:active {
  background: #aa2e25;
}

#main-control > #up {
  position: fixed;
  top: 55vmin;
  left: 13vmin;
}

#main-control > #bottom {
  position: fixed;
  top: 77vmin;
  left: 13vmin;
}

#main-control > #right {
  position: fixed;
  top: 66vmin;
  right: 13vmin;
}

#main-control > #left {
  position: fixed;
  top: 66vmin;
  right: 42vmin;
}

#videoPlayer {
  display: block;
  margin: auto;
}*/
